In [ ]:
n=5+4*5*12

In [ ]:
n

In [ ]:
guest = ['a','b','c','d']
for i in guest :
    print (i+' welcome to my new home')

In [ ]:
for seq:
    for seq:

In [ ]:
for i in range(5):
    for name in ['a','b','c']:
        print (f'{i}=={name} ')

In [ ]:
[i.upper() for i in guest]

In [ ]:
info ={'name':'basit' ,'age':19, 'hight':6}

In [ ]:
info ['name']

In [ ]:
for k,v in info.items():
    print (k,v)

In [ ]:
info ={'name':'basit' ,'age':19, 'hight':6 ,'guest' :['a','b','c','d'] }

In [ ]:
info ['guest'][2]

In [ ]:
info ={'name':'basit' ,'age':19, 'hight':6 ,'guest' :['a','b','c','d'],'test':{'pyton1':70,'pyton2':90,'pyton3':[95,67,88]} }

In [ ]:
info['test']['pyton3'][2]

In [ ]:
a=1,2,3

In [ ]:
x,y,z=a

In [ ]:
x

In [ ]:
def add(x,y):
    a=x+y
    return a

In [ ]:
myvalue= add(4,7)

In [ ]:
myvalue

In [ ]:
def full_name (f_name ,l_name):
    print (f'yor full name is {f_name} {l_name}')

In [ ]:
full_name (f_name='abdul',l_name='basit')

In [ ]:
def full_name (f_name ,l_name,m_name=''):
    print (f'yor full name is {f_name} {m_name} {l_name}')

In [ ]:
full_name (f_name='abdul',l_name='basit')

In [ ]:
full_name (f_name='abdul',l_name='shahid',m_name='basit')

In [ ]:
food='biryani'
def eatfood():
    food='kunna'
    print (food)

In [ ]:
eatfood()

In [ ]:
food

In [ ]:
a=0
while a <= 5:
    print (a)
    a+=1

In [2]:
import csv

In [4]:
a= True 
while a:
    person= input ('you have nice y/n :').lower()
    if person =='y':
        age =int ( input ('Enter your age = '))
        if age > 18 :
            name = input ('Enter your name :').lower()
            with open('cnic.csv') as f:
                x= csv.reader(f)
                for i in x:
                    for y in i :
                        if name == y:
                            print ("you are cast vote")
                        elif name != y:
                            print ('you have not name in list')
        else:
            print ('you are not alagable')
            a = False 
    else:
        print ('you have not name in list')
        a = False

you have nice y/n :y
Enter your age = 19
Enter your name :abdul basit
you have not name in list
you have not name in list
you are cast vote
you have not name in list
you have not name in list
you have not name in list
you have not name in list
you have not name in list
you have not name in list
you have not name in list
you have nice y/n :n
you have not name in list

In [ ]:
a= True 
while a:
    b=['abdul basit','abdul samad','abdul wajid']
    person= input ('you have nice y/n :').lower()
    if person =='y' :
        age =int ( input ('Enter your age = '))
        if age > 18 :
            name = input ('Enter your name :').lower()
            for i in b:
                if name==i:
                    print ("you are cast vote")  
            print ('you have not name in list')
        else:
            print ('you are not alagable')
            a = False 
    else:
        print ('you have not name in list')
        a = False