In [2]:
list1 = ['orange' , 'apple ' , 'banana' , 'peach', 'banana']
list1.remove ('banana')
list1

['orange', 'apple ', 'peach', 'banana']

In [4]:
sortlist = [23, 45, 22, 3 , 4]
sortlist.sort ()
sortlist

[3, 4, 22, 23, 45]

In [6]:
sortlist.sort (reverse = True )
sortlist

[45, 23, 22, 4, 3]

In [8]:
newlist =[ 23,67,12,90 ]
newlist.reverse ()
newlist

[90, 12, 67, 23]

In [10]:
newlist.clear ()
newlist

[]

In [12]:
newlist =['basit '  , 'atif' , 'hamza' , 'c']
newlist.sort ()
newlist

['atif', 'basit ', 'c', 'hamza']

In [14]:
list2=['a' , 'd' , 'c' , 'Y','A']
list2.sort ()
list2

['A', 'Y', 'a', 'c', 'd']

In [15]:
list3=[23, 45 ,12, 51,11]
x=list3.pop()
print(list3)
print (x)

[23, 45, 12, 51]
11

In [18]:
list4=[23, 45 ,12, 51,11]
x=list4.pop(1)
print(list4)
print (x)

[23, 12, 51, 11]
45

In [8]:
list5 =[12 ,34,2, 5, 10,11,1,90]
list6= []

In [7]:
x=list5.pop()
print (x)
print (list5)

11
[12, 34, 2, 5, 10]

In [115]:
y=list5.pop ()
list6.append(y)
print (list5)
print (y)
print (list6)

[12, 34, 2, 5]
90
[90]

In [12]:
list6.append  (list5.pop ())
print (list6)

[90, 1, 11, 10]

In [142]:

x=len(list5)
if x !=0:
    list6.append  (list5.pop ())
    print (list5)
    print (list6)
else :
    print ('list is empty')

[]
[90, 1, 11, 10, 5, 2, 34, 12]

In [150]:
list7=list6.copy ()

In [151]:
list7

[90, 1, 11, 10, 5, 2, 34, 12]

In [145]:
list6

[90, 1, 11, 10, 5, 2, 34, 12]

In [152]:
del list7 [3]
print (list7)
print (list6)

[90, 1, 11, 5, 2, 34, 12]
[90, 1, 11, 10, 5, 2, 34, 12]

In [153]:
list8=list6 #refrence
print (list6)
print (list8)

[90, 1, 11, 10, 5, 2, 34, 12]
[90, 1, 11, 10, 5, 2, 34, 12]

In [154]:
del list6 [2]
print (list6)
print (list8)

[90, 1, 10, 5, 2, 34, 12]
[90, 1, 10, 5, 2, 34, 12]

# slicing

In [3]:
d= [122,344,5,11,711,66,90,134,517,89,0,638,719]

In [4]:
len (d )

13

In [156]:
d [2]

5

In [5]:
d [1:7] #n-1, 4-1=3

[344, 5, 11, 711, 66, 90]

In [6]:
d [1:8:2] #gap 2

[344, 11, 66, 134]

In [167]:
d[2:11:15]

[5]

# Reverse indexing

In [13]:
#index     -6    -5       -4        -3         -2    -1
cities =['khi','lhr' , 'Quetta' , 'multan' , 'skt','Isl']
#index    0      1        2          3          4     5

In [14]:
cities [:5]

['khi', 'lhr', 'Quetta', 'multan', 'skt']

In [170]:
cities  [3:]

['multan', 'skt', 'Isl']

In [15]:
cities [:]

['khi', 'lhr', 'Quetta', 'multan', 'skt', 'Isl']

In [171]:
cities [-4]

'Quetta'

In [172]:
cities [2]

'Quetta'

In [177]:
cities [-4]==cities [2]

True

In [178]:
cities [-5:-2]

['lhr', 'Quetta', 'multan']

In [179]:
cities [-5:4]

['lhr', 'Quetta', 'multan']

In [182]:
cities [-5:0]

[]

In [16]:
a=[]
b=[1,34,5,7]

In [17]:
b.append(2)
b

[1, 34, 5, 7, 2]

In [14]:
b.pop()
b

[1, 34, 5, 7]

In [19]:
x=b.pop()
a.append(x)
a

IndexError: pop from empty list

In [67]:
for d in range (len(b)):
    if len(b)!=0:    
        x=b.pop()
        a.append(x)
        print (a)
        print (b)

[2]
[1, 34, 5, 7]
[2, 7]
[1, 34, 5]
[2, 7, 5]
[1, 34]
[2, 7, 5, 34]
[1]
[2, 7, 5, 34, 1]
[]

In [22]:
for d in b:
    x=b.pop()
    a.append(x)
print (a,b)

[2, 7, 5, 34, 1] []

In [25]:
z=a.copy()
a is z

False

In [32]:
word1="BASIT "
word2="BASIT "
abc=[1,34,5,7]
abcd=[1,34,5,7]
print (word1 is word2)
print (abc is abcd)

False
False