In [1]:
type ("123")

str

In [10]:
name = 'abdul basit'

In [11]:
print (name )

abdul basit

In [15]:
id (name)

3013941192

In [30]:
number1 = 5

In [29]:
number2=10

In [24]:
number3 = 3.7

In [23]:
print (number1)

5

In [25]:
print (number3 , number2 ,number1)

3.7 10 5

In [32]:
sum = number1 + number2

In [33]:
print (sum)

15

In [35]:
dell= 44

In [36]:
print (dell )

44

In [37]:
print (name,number1, sum , sep=":::")

abdul basit:::5:::15